h1 {
    color: #402c13;
}
h2 {
    color: #495834;
}
body {
    background-color: #d9c6b0;
}
ul {
    color: blue;
    list-style-type: none;
    li {
        margin-top: 20px;
        color: #402c13;
    }
}

.banner {
    background-color: red;
}
