body{
  font-family:Arial,Helvetica,sans-serif;
  color:#592C19;
  background:#f9faf7;
  margin: 0px;
}

/* --- Banner --- */
.banner{
  position:relative;
  width:100%;
  height:330px;          
  overflow:hidden;
}
.banner img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.logo-text{
  position:absolute;
  top:20px;
  left:20px;
  font-size:2.8rem;
  font-weight:700;
  color:#90BC2B;
  text-shadow:0 2px 6px rgba(0,0,0,.5);
}

.container {
  display: flex;
  ul {
    margin-right: 30px;
  }
}

.mapa {
  border: 1px solid black;
  flex: 1;

  .imagem {
    width: 100%;
    height: 200px;
  }

  .descricao {
    border: 1px solid blue;
  }
}
