.container {
    display: flex;
    ul {
      margin-right: 30px;
      li {
        cursor: pointer;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0px;
        font-size: 20px;
        &:hover {
          color: #d9c6b0;
          background-color: #495834;
        }
      }
    }
}

.mapa {
  display: flex;
  flex: 1;

  .imagem {

    img {
      max-width: 600px;
      border-radius: 20px;
    }
  }

  .descricao {
    margin-left: 20px;
  }
}
