body{
  font-family:Arial,Helvetica,sans-serif;
  color:#592C19;
  background:#f9faf7;
  margin: 0px;
}

/* Banner */
.banner {
  background-image: url('https://www.greenpeace.org/static/planet4-brasil-stateless/2024/05/5b07ea98-floresta-amazonica-1024x682.jpg'); /* Substitua pelo seu banner real */
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Logo (fora do container) */
.logo {
  height: 245px;
}

/* Container apenas do texto */
.text-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 12px;
}

/* Título com link */
.site-title {
  font-size: 40px;
  font-weight: bold;
  color: #90BC2B;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover no texto */
.site-title:hover {
  transform: translateY(-4px);
  color: white;
}

.container {
  display: flex;
  ul {
    margin-right: 30px;
    list-style: none;
    margin-top: 140px;

  }
  button {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 20px;

  }
}

.mapa {
  flex: 1;

  .imagem {
    width: 100%;
    height: 200px;
  }

  .descricao {
    margin: 0 100px 20px 100px;
  }
}

img {
  width: 65%;
}

